* {
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left; }

.btn-green {
  width: 140px;
  height: 50px;
  background-color: #99cc99;
  color: #fff;
  font: bold 14px "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  margin-top: 20px; }

h1, h2, h3, p {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 45px;
  font-weight: 300; }

h2 {
  font-size: 26px; }

p {
  font-size: 10px;
  color: #999;
  line-height: 15px; }

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #fff; }

body {
  margin: 0;
  padding: 0; }
  body header {
    position: absolute;
    z-index: 1; }
    body header .circles {
      position: absolute;
      left: 18vw;
      top: 5vh; }
      body header .circles .outside, body header .circles .inside {
        border: 3px solid #fff;
        border-radius: 50%; }
      body header .circles .outside {
        width: 36px;
        height: 36px; }
      body header .circles .inside {
        width: 16px;
        height: 16px;
        position: relative;
        left: 10px;
        bottom: 26px; }
    body header p {
      position: relative;
      left: 44px;
      bottom: 65px;
      color: #fff;
      font-family: "Lobster", cursive;
      font-size: 22px; }
  body .hero-image .main-img {
    max-width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 0; }
  body .hero-image .iPhone-img {
    height: 760px;
    position: relative;
    left: 650px;
    top: 100px;
    z-index: 2; }
  body .hero-image .hero-text {
    position: relative;
    z-index: 2;
    color: #fff; }
    body .hero-image .hero-text h1 {
      display: inline-block;
      position: relative;
      left: 150px;
      top: 330px; }
    body .hero-image .hero-text p {
      display: inline-block;
      position: relative;
      right: 149px;
      top: 390px;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      line-height: 20px;
      color: #fff; }
    body .hero-image .hero-text .vertically {
      transform: rotate(270deg);
      transform-origin: left top 0;
      float: left;
      position: relative;
      left: 20px;
      display: flex;
      text-transform: uppercase; }
    body .hero-image .hero-text .link {
      position: relative;
      left: 50px;
      top: 435px; }
    body .hero-image .hero-text .perfect {
      position: relative;
      top: 485px;
      left: 89px;
      color: #a4c4ce; }
  body .welcome div.col-l-6 {
    float: left; }
    body .welcome div.col-l-6 p {
      padding: 5px 0; }
  body .welcome div.col-left {
    padding-right: 15px; }
  body .welcome div.col-right {
    padding-left: 15px;
    position: relative;
    top: 120px; }
  body .box-grid {
    max-width: 1600px;
    margin-top: 40px; }
    body .box-grid .row {
      margin-left: 270px; }
      body .box-grid .row h2, body .box-grid .row p, body .box-grid .row a {
        color: #fff;
        padding: 0 25px; }
      body .box-grid .row h2 {
        font-weight: 100; }
      body .box-grid .row p {
        margin-bottom: 40px; }
    body .box-grid div.col-l-3, body .box-grid div.col-l-6 {
      height: 200px; }
    body .box-grid .box-pink {
      background-color: #f5989d; }
    body .box-grid .box-purple {
      background-color: #615f7d; }
    body .box-grid .box-small {
      background-image: url("https://raw.githubusercontent.com/lukaszsl/psd2html-nr1/master/images/our_clients_box.png");
      background-size: cover; }
    body .box-grid .box-violet {
      background-color: #bd8cbf; }
    body .box-grid .box-large {
      background-image: url("https://raw.githubusercontent.com/lukaszsl/psd2html-nr1/master/images/sign_up_box.png");
      background-size: cover;
      background-position: center; }
      body .box-grid .box-large p {
        margin-bottom: 55px; }
    body .box-grid .box-green {
      background-color: #82ca9c; }
    body .box-grid .box-extra {
      background-image: url("https://raw.githubusercontent.com/lukaszsl/psd2html-nr1/master/images/start_something_box.png");
      background-size: cover;
      background-position: center; }
    body .box-grid .box-pink:hover a,
    body .box-grid .box-purple:hover a,
    body .box-grid .box-small:hover a,
    body .box-grid .box-violet:hover a,
    body .box-grid .box-large:hover a,
    body .box-grid .box-green:hover a,
    body .box-grid .box-extra:hover a {
      font-size: 13px;
      transition: 0.3s; }
  body .text-column {
    height: 350px;
    margin-top: 85px; }
    body .text-column p {
      padding: 0 20px 10px 0; }
  body .full-image {
    max-height: 698px; }
    body .full-image img {
      width: 100vw; }
    body .full-image div {
      position: relative;
      bottom: 390px; }
      body .full-image div h1 {
        color: #fff; }
      body .full-image div p {
        padding-right: 550px; }
  body .colour {
    height: 400px;
    background-color: #99cc99; }
    body .colour h2, body .colour h3, body .colour p {
      color: #fff; }
    body .colour h2 {
      padding-top: 70px; }
    body .colour p {
      padding: 0 20px 10px 0; }
  body .buying {
    height: 500px;
    background-color: #f6f7fa;
    /*button
     * width: 140px
     * height: 50px
     * background-color: #99cc99
     * color: #fff
     * font: bold 14px $buttons-font
     * border: none
     * border-radius: 5px
     * margin-top: 20px */ }
    body .buying .label-purple {
      width: 75px;
      height: 25px;
      background-color: #e1e1e1;
      border-radius: 7px;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 10px;
      color: #f6f7fa;
      display: flex;
      justify-content: center;
      align-items: center; }
    body .buying .right {
      width: 120px; }
    body .buying .icons {
      margin: 10px;
      font-size: 25px; }
      body .buying .icons .fa {
        padding-right: 5px;
        color: #ccc; }
    body .buying .left-box, body .buying .right-box {
      padding: 40px;
      margin-top: 60px; }
      body .buying .left-box p, body .buying .right-box p {
        padding-right: 20px; }
    body .buying .right-box:hover, body .buying .left-box:hover {
      background-color: #fff;
      box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.1); }
      body .buying .right-box:hover .label-purple.right, body .buying .right-box:hover .label-purple.left, body .buying .left-box:hover .label-purple.right, body .buying .left-box:hover .label-purple.left {
        background-color: #c9c; }
      body .buying .right-box:hover button, body .buying .left-box:hover button {
        cursor: pointer; }
    body .buying .left-box, body .buying .right-box,
    body .buying .right-box:hover, body .buying .left-box:hover {
      transition: all 0.8s; }
  body .footer {
    height: 500px;
    background-color: #192431;
    color: #fff; }
    body .footer h3 {
      font-size: 11px; }
    body .footer p {
      color: #fff; }
    body .footer ol {
      list-style: none;
      padding: 0; }
      body .footer ol li {
        font-family: "Open Sans", sans-serif;
        font-size: 8px;
        line-height: 15px; }
    body .footer div.row div.col-l-6 {
      margin-top: 100px; }
    body .footer div.row div.col-l-6:first-child {
      padding-right: 70px; }
      body .footer div.row div.col-l-6:first-child h3 {
        margin-bottom: 27px; }
      body .footer div.row div.col-l-6:first-child p {
        margin-bottom: 35px; }
    body .footer div.row div.col-l-6:nth-child(2) {
      padding-left: 115px; }
    body .footer form input, body .footer form button {
      border-radius: 2px; }
    body .footer form p {
      color: #53647a;
      padding-right: 60px; }
    body .footer form button {
      width: 30px;
      height: 30px;
      position: relative;
      left: -6px;
      top: -2px;
      cursor: pointer;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    body .footer form input {
      width: 300px;
      height: 30px;
      border-style: hidden;
      font-size: 15px;
      padding-right: 4px; }

@media(max-width: 767px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
@media(min-width: 768px) and (max-width: 1199px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media(min-width: 1200px) {
  .col-l-1 {
    width: 8.33%; }

  .col-l-2 {
    width: 16.66%; }

  .col-l-3 {
    width: 25%; }

  .col-l-4 {
    width: 33.33%; }

  .col-l-5 {
    width: 41.66%; }

  .col-l-6 {
    width: 50%; }

  .col-l-7 {
    width: 58.33%; }

  .col-l-8 {
    width: 66.66%; }

  .col-l-9 {
    width: 75%; }

  .col-l-10 {
    width: 83.33%; }

  .col-l-11 {
    width: 91.66%; }

  .col-l-12 {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
